:root {
  --light-blue: #d0e8ff;
  --washed-blue: #f0f7ff;
  --lightest-blue: #e0f0ff;
  --black-70: #3d3f41;
  --white: #ffffff;
  --gray-0: #f8f9fa;
}

* {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.black-70 {
  color: var(--black-70);
}

.bg-washed-blue {
  background-color: var(--washed-blue);
}

.ba {
  border-style: solid;
  border-color: var(--gray-0);
  border-width: 1px;
}

.bg-lightest-blue {
  background-color: var(--lightest-blue);
}

.bg-white {
  background-color: var(--white);
}

.pointer:hover {
  cursor: pointer;
}

.b--solid {
  border-style: solid;
}

.b--washed-blue {
  border-color: var(--washed-blue);
}

.shadow-4 {
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
}

.db {
  display: block;
}

.pa0 {
  padding: 0;
}

.pa4 {
  padding: 2rem;
}

.pa3 {
  padding: 1rem;
}

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pa2 {
  padding: 0.5rem;
}

.mh3 {
  margin: 1rem;
}

.mt0 {
  margin-top: 0;
}

.f5 {
  font-size: 1rem;
}

.tc {
  text-align: center;
}

.mb1 {
  margin-bottom: .25rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.bn {
  border-style: none;
  border-width: 0;
}

.b--none {
  border-style: none
}

.bg-transparent {
  background-color: transparent;
}

.disabled {
  user-select: none;
  cursor: not-allowed;
  color: var(--gray-0);
}

.br4 {
  border-radius: 1rem;
}

/**
 * Calendar styles
 */
.dt--fixed {
  table-layout: fixed;
}

.selected {
  background-color: var(--light-blue);
}